.central-zone {
	display: flex;
	gap: 10px;
    
	.card-stock {
		--direction: column !important;
	}
}

@media screen and (orientation: portrait) {
	.central-zone {
		flex-direction: column;
		.card-stock {
			--direction: row !important;
		}
	}
}
