.central-zone {
	gap: 0.6%;
	width: 100%;
	display: flex;

	//grid-template-columns:repeat(var(--duels-count), 1fr) auto;

	.card-stock {
		--direction: column !important;

		.slot {
			@include card-size;
			width: 100%;
		}
	}

	.card {
		@include card-size;
		width: 100%;
		height: unset;
	}

	.duel-wrapper {
		width: $CARD_WIDTH;
		max-width: calc(100% / var(--duels-count));
		position: relative;
		.vs-icon {
			font-style: oblique;
			font-size: xx-large;
			font-weight: bolder;
			position: absolute;
			z-index: 51;//above card z-index during animations
			//center horizontally and vertically taking its size into account
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: crimson;
			background-color: $main-color;
			border-radius: 45%;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
			box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.3);
		}
	}
}

@media screen and (orientation: portrait) {
	.central-zone {
		display: flex;
		flex-direction: column;
		align-items: center;
		.card-stock {
			--direction: row !important;
			--wrap: nowrap !important;
			width: 100%;
			max-width: 40%;
			.slot {
				width: 50%;
			}
		}
	}
}

@media screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
	/* Styles for touch devices in landscape mode */
	.vs-icon {
		font-size: x-large !important;
	}
	.modifier {
		font-size: 17pt !important;
	}
}
