@use 'sass:list';

$cardSizeModifier: 0.65;
$CARD_WIDTH: calc(220px * $cardSizeModifier); //also change in stock-utils.ts
$CARD_HEIGHT: calc(342px * $cardSizeModifier);
$CARD_RATIO: list.slash(220, 342);

@mixin selected-element {
	box-shadow: 0 0 5px 5px rgb(200, 255, 47);
}

@mixin card-border {
	border-radius: 3%;
}

@mixin card-size {
	aspect-ratio: $CARD_RATIO;
}

//(classic BGA colors) :
$player-colors: (
	'blue': '336fb5',
	'violet': '722889',
);

$main-color: white;

@import 'animations';
@import 'playerboards';
@import 'game-steps/game-steps';
@import 'bga-hacks/bga-hacks';
@import 'player-table/player-table';
@import 'central-zone/central-zone';
@import '../node_modules/bga-cards/bga-cards';
@import '../node_modules/bga-help/bga-help';

html {
	background: rgb(21, 104, 134);
	background-repeat: no-repeat;
	background-size: 100%;

	//declare duels-count css var
	--duels-count: 0;

	background-image: url('img/background.jpg');
	background-attachment: fixed;
	background-position: 50%;
	background-size: cover;
}

.hidden {
	display: none !important;
}

#custom-game-area {
	display: flex;
	flex-direction: column;
	align-content: center;
	flex-wrap: wrap;
	gap: 20px;
}

@mixin selected-element {
	box-shadow: 0 0 5px 5px rgb(200, 255, 47);
}

@mixin empty-stock-border {
	outline: 1px solid $main-color;
}

svg {
	height: 100%;
	width: auto;
}
#void-area{
	display: none;
}

.zone-title {
	color: #965e17;
	font-size: large;
	text-align: center;
	padding-top: 10px;
	text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.cst-block {
	padding: 12px 20px;
	border-radius: 5px;
}

//do not display title if the stock is empty
.cst-block:has(> .card-stock:empty + .zone-title) .zone-title {
	display: none;
}

.deck-icon {
	width: 40px;
	aspect-ratio: 1;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	color: white;
}

.cstm-card-name {
	font-style: oblique;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5em;
}

.stock-counter {
	border-radius: 50%;
	font-weight: bold;
	font-size: 11pt;
	border: 1px solid;
	box-sizing: border-box;
	background-color: $main-color;
}

.player_board_location {
	aspect-ratio: 342/220;
	@include card-border;
}

.bga-cards_selected-card {
	@include selected-element;
}

.cardia-card {
	.card-side {
		@include card-border;
	}
}

.deck {
	&[data-empty='true'] {
		@include card-border;
		outline: 2px dashed $main-color;
	}
}

#help-dialog-content {
	width: unset;
}

.popin-help-card {
	width: 342px;
	height: 206px;
	@include card-border;
	&#help-1 {
		background-image: url('img/help1.png');
	}
	&#help-2 {
		background-image: url('img/help2.png');
	}
	&:first-child {
		margin-top: 12px;
	}
}

.card {
	position: relative;
	width: $CARD_WIDTH;
	height: $CARD_HEIGHT;
}

.card-stock {
	.slot {
		@include card-border;
		@include card-size;
		//width: 100%;

		background: hsla(0, 0%, 100%, 0.4);
		outline: 1px solid hsla(0, 0%, 100%, 0.6);

		&:empty {
			@include empty-stock-border;
		}
	}

	.board-card {
		aspect-ratio: $CARD_RATIO;
		//width: $CARD_WIDTH;
	}
}

#discards-wrapper {
	display: flex;
	$shift: 105px;
	.line-stock {
		padding-left: $shift;
	}
	.card {
		margin-left: calc($shift * -1);
	}
}

.all-visible-deck {
	@include card-border;
	@include empty-stock-border;
}

.touch-device {
	.css-icon {
		&.card-info,
		&.card-info-small {
			display: inline-flex;
		}
	}
}

.css-icon {
	width: 25px;
	height: 25px;
	color: white;
	background-color: $main-color;
	border: 2px solid white;
	border-radius: 15px;
	text-align: center;
	font-weight: bolder;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	pointer-events: auto;

	&.card-info {
		display: none;
		width: 18px;
		height: 18px;
		position: absolute;
		bottom: 2px;
		left: 4px;
		background-color: darkslategray;
	}

	&.card-info-small {
		display: none;
		width: 11px;
		height: 11px;
		position: relative;
		bottom: 3px;
		left: 3px;
		font-size: x-small;
	}
}

.signet-icon,
.modifier,
.ongoing-icon {
	max-width: 100%;
	background-size: 100%;
	background-image: url('img/tokens.png');
	filter: drop-shadow(0px 0px 4px white) drop-shadow(0px 0px 4px white) drop-shadow(0px 0px 4px white);
}

.signet-icon {
	background-position: 0 0%;
	background-size: 100%;
	width: 36%;
	aspect-ratio: 102/82;
}

.modifier {
	background-position: 0 56.097561%;
	background-size: 145.714286%;
	width: 35%;
	aspect-ratio: 1;

	display: flex;
	justify-content: center;
	align-items: center;
	justify-self: center;

	margin-top: 16%;
	font-size: 23pt;
	font-weight: bolder;
	letter-spacing: -1px;

	&[data-value='0'] {
		display: none;
	}

	/* Make font color white when data-value > 0 */
	&[data-value]:not([data-value='0']):not([data-value^='-']) {
		color: white;
		text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
	}

	/* Make font color black and font smaller for data-value < 0 */
	&[data-value^='-'] {
		color: black;
		text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
		text-indent: -4px;
	}

	/** Reduce space for values under -9 */
	&[data-value^='-']:not([data-value='-1']):not([data-value='-2']):not([data-value='-3']):not([data-value='-4']):not([data-value='-5']):not([data-value='-6']):not([data-value='-7']):not([data-value='-8']):not([data-value='-9']) {
		font-size: 21pt;
		letter-spacing: -4px;
	}

	//reduce letter spacing for positive values with 2 digits
	&[data-value^='1']:not([data-value='1']):not([data-value='2']):not([data-value='3']):not([data-value='4']):not([data-value='5']):not([data-value='6']):not([data-value='7']):not([data-value='8']):not([data-value='9']) {
		font-size: 21pt;
		letter-spacing: -4px;
	}
	
}
.ongoing-icon {
	background-position: 0 100%;
	background-size: 145.714286%;
	width: 40%;
	aspect-ratio: 70/62;
}

/*.slot-stock {
	> .modifier {
		margin: unset;
	}
}*/

.tokens-location-wrapper {
	display: grid;
	grid-template-rows: 20% 34% 40%;
	gap: 3%;//total of 100%
    grid-template-columns: 1fr;
	height: 100%;
	width: 100%;
	justify-content: center;

	.card-signets, .card-ongoings {
		align-self: center;
		justify-self: center;
		width: 100%;

		display: flex;
		flex-wrap: wrap;
		gap: 5px;
		justify-content: center;
	}

	.card-modifiers {
		align-self: center;
		justify-self: self-start;
		width: 100%;
	}
}

.faction {
	background: url('img/factions.png') no-repeat;
	width: 21px;//28px;
    height: 21px;//31px;

	&.faction-G{
		background-size: 400%;
		background-position: 0 0%;
	}
	&.faction-R{
		background-size: 400%;
		background-position: 33% 0%;
	}
	&.faction-Y{
		background-size: 400%;
		background-position: 66% 0%;
	}
	&.faction-B{
		background-size: 400%;
		background-position: 100% 0%;
	}
}

.card .card-sides .card-side.front .card-info {
	pointer-events: all;
}

.card .card-sides .card-side {
	overflow: visible;//fix to allow complete animation of tokens coming into the card
}

.log {
	.log-icon {
		display: inline-block;
		vertical-align: middle;
		width: 30px;
		height: 27px;
	}
}

.counter-left-part {
	margin-right: -5px;
}
